/node_modules


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


/node_modules/
jspm_packages/


.npm


.env


.babelrc


.idea
.vscode
*.swp

dist/
build/




coverage/


.eslintcache


nodemon-debug.log
.pids

*.tgz
